doctype html
head
	meta(charset='UTF-8')
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	title DN Miku | Register
	link(rel='stylesheet', type='text/css', href='/css/signUp.css')
	link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Quicksand|Palanquin')
nav
	.nav-item
		ul
			li.nav-not-active
				a(href='/') Home
			li.nav-not-active
				a(href='/download') Download
			li.nav-active
				a(href='/register') Register
			li.nav-not-active
				a(href='/login') Login
section.signup
	.container
		.signup-content
			form#signup-form.signup-form(method='POST', action='/register/')
				h2.form-title Register
				.form-group
					if id
						input#id.form-input(type='text', name='id', placeholder='Username' value=`${id}`)
					else
						input#id.form-input(type='text', name='id', placeholder='Username' )
					small.error #{idError}
				.form-group
					if email
						input#email.form-input(type='email', name='email', placeholder='Enter your email' value=`${email}`)
					else
						input#email.form-input(type='email', name='email', placeholder='Enter your email')
					small.error #{emailError}
				.form-group
					input#password.form-input(type='password', name='password', placeholder='Password')
					small.error #{passwordError}
				.form-group
					input#repeatPassword.form-input(type='password', name='repeatPassword', placeholder='Repeat your password')
				input#submit.form-submit(type='submit', value='Submit')
script().
	if ( window.history.replaceState ) {
		window.history.replaceState( null, null, window.location.href );
	}