- title = 'Register'
include include/head
- register = true
include include/navbar

.mx-auto.max-w-6xl.p-12
  .flex.flex-col.justify-center(class='md:flex-row')
    .max-w-md.flex.flex-col.justify-center(class='md:w-1/2')
      .text-xl.font-black.uppercase(class='md:text-4xl') Welcome to DN Miku
    .flex.justify-start.mt-5.w-full(class='md:w-1/2 md:justify-end md:w-1/2')
      .shadow-md.bg-white.flex-auto.max-w-sm.p-10.pb-20
        form(action='/register' method='post')
          .w-full
            .font-bold.h-6.mt-3.text-gray-600.text-xs.leading-8.uppercase
              span.text-red-400.mr-1 *
              | Username
            .my-2.bg-white.p-1.flex.border-b-2.border-red-300
              if id
                input.p-1.px-2.appearance-none.outline-none.w-full.text-gray-800(placeholder='Username' name='id' required='' value=`${id}`)
              else
                input.p-1.px-2.appearance-none.outline-none.w-full.text-gray-800(placeholder='Username' name='id' required='')
            p.text-right.text-red-500.text-xs #{idError}
          .w-full
            .font-bold.h-6.mt-3.text-gray-600.text-xs.leading-8.uppercase
              span.text-red-400.mr-1 *
              |  Email
            .my-2.bg-white.p-1.flex.border-b-2.border-red-300
              if email
                input.p-1.px-2.appearance-none.outline-none.w-full.text-gray-800(placeholder='Email' name='email' required='' value=`${email}`)
              else
                input.p-1.px-2.appearance-none.outline-none.w-full.text-gray-800(placeholder='Email' name='email' required='')
            p.text-right.text-red-500.text-xs #{emailError}
          .w-full
            .font-bold.h-6.mt-3.text-gray-600.text-xs.leading-8.uppercase
              span.text-red-400.mr-1 *
              | Password
            .my-2.bg-white.p-1.flex.border-b-2.border-red-300
              input.p-1.px-2.appearance-none.outline-none.w-full.text-gray-800(placeholder='Password' name='password' type='password' required='' autocomplete="off")
            p.text-right.text-red-500.text-xs #{passwordError}
          .w-full
            .font-bold.h-6.mt-3.text-gray-600.text-xs.leading-8.uppercase
              span.text-red-400.mr-1 *
              |  Repeat Password
            .my-2.bg-white.p-1.flex.border-b-2.border-red-300
              input.p-1.px-2.appearance-none.outline-none.w-full.text-gray-800(placeholder='Repeat your password' name='repeatPassword' type='password' required='' autocomplete="off")
            p.text-right.text-red-500.text-xs
          .mt-6.relative
            input.font-medium.py-2.px-4.text-red-300.cursor-pointer.bg-black.rounded.text-lg.tr-mt.absolute.text-center.w-full(class='hover:text-red-400' type='submit' value='Submit')
